body{


  display: flex;
  justify-content: center;
  background-color: seagreen;
  font-family: 'Courier New', Courier, monospace;


}
.del-btn{
    padding:1mm;
    border: 0px;
    border-radius: 100px;
    background:none;
}
.del-btn:hover{

  background-color:lightcoral;

}
