body{

  display:flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  background-color:darkslateblue;


}
.title{

  padding:10px;
  color:whitesmoke;

}
.ProfileCard{

  padding: 10px;
  background-color:cornflowerblue;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left:50px;
  margin-right:50px;
  color: whitesmoke ;
  

}
.likebtn{
  padding: 0.2px;
  background: none;
  border: none;


}
