.card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black 0.1;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 1000px;
    display: inline-block;
}

.card .card-image{

    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .card-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    color: black;


}

.card .card-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;


}